body {
  width: 70%;
  text-align: justify;
  margin: 0 auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(247, 244, 47, 0.3);
}

h1{
  font-family: "courier new ", serif;
}

a {
  color: #00B7FF;
  font-style: italic;
}
div#main{
  background-color: #363537;
}