<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>
<h1><%= lastVisited %></h1>
<h3><%= message %></h3>
<p><%= details %></p>
</body>
</html>
